template(name='Supervisor')
  #users
    h3 Supervisor
    h5 Showing assigned shifts
    br
    br
    table 
      thead
        th(style="width:15%;") Supervisor
        th Date
      tbody
        td 
          select
            option(value="Default") Default
            option(value="Supervisor1") Supervisor1
            option(value="Supervisor2") Supervisor2
            option(value="Supervisor3") Supervisor3
        td
          select
            option(value="Yesterday") Yesterday
            option(value="Today") Today
            option(value="Tomorrow") Tomorrow
            option(value="Date3") Date3
            option(value="Date4") Date4
    br
    br
    
    table
      thead
        th Shift
        th Date
        th Time
        th Name
        th Attended
      each shifts
        // loop students for(i=0;i<assignedStudents.length;i++)
          tbody
              td
                span(id="{{_id}}-_id") {{_id}}
              td
                span(id="{{_id}}-start") {{formatDate info.start}}
              td
                {{formatTime info.start}} + ' - ' + {{formatTime info.end}}
              td
                //Students.findOne(assignedStudents[i]).first_name + ' ' + Students.findOne(assignedStudents[i]).last_name
              td
                input(type="checkbox" id="Yes" value="No")
                input(type="checkbox" id="No" value="Yes")

      br     
      a(class='waves-effect waves-light btn', id='saveStudentsCheck') Save
        
