template(name='Home')
  #home
    h3 Dashboard

    if shifts

      ul.survey-list.collection.with-header
        li.collection-header
          h5 Showing individual shifts for {{userId}}

        table
          thead
              th ID
              th Supervisor
              th Supervisor Contact
              th Location
              th Start
              th End
              th Info
        each shifts
          tbody
            td {{_id}}
            td {{info.supervisor}}
            td {{info.supervisorContact}}
            td {{info.location}}
            td {{info.start}}
            td {{info.end}}
            td {{info.info}}
