template(name='supervisorDetail')
  #shiftlist
    if shift
      h5 Showing students for Shift {{shift.info.info}}

      table
        thead
          tr
            th First name
            th Last name
            th Track
            th Email
            th Mark as attendant
            th Mark as away
            th Mark as tech savvy
        tbody
          each shift.assignedStudents
            tr
              td
                span(id="{{_id}}-first_name") {{getAttributeOfStudent 'first_name' this}}
              td
                span(id="{{_id}}-last_name") {{getAttributeOfStudent 'last_name' this}}
              td
                span(id="{{_id}}-track") {{getAttributeOfStudent 'track' this}}
              td
                span(id="{{_id}}-email") {{getAttributeOfStudent 'email' this}}
              td
                span(id="{{_id}}-attendant")   
                  if studentIsMarkedAsAttendant this
                    a(class="markStudentAsAttendant" href='' name="{{this}}") Marked as attendant
                  else
                    a(class="markStudentAsAttendant" href='' name="{{this}}") Click to mark
              td
                span(id="{{_id}}-away") 
                  if studentIsMarkedAsAway this
                    a(class="markStudentAsAway" href='' name="{{this}}") Marked as away
                  else
                    a(class="markStudentAsAway" href='' name="{{this}}") Click to mark
              td
                span(id="{{_id}}-tech") 
                if studentIsMarkedAsTechSavvy this
                  a(class="markStudentAsTechSavvy" href='' name="{{this}}") Marked as tech savvy
                else
                  a(class="markStudentAsTechSavvy" href='' name="{{this}}") Click to mark
