template(name='Users')
  #users
    h3 Users

    if users
      h5 Showing User List

      table
        thead
          tr
            th ID
            th Email
            th Role
            th Delete/Edit
        tbody
            tr
              td
                input(type="text",id="_id" disabled)
              td
                input(type="text",id="email" disabled)
              td
                input(type="text",id="role")
              td
                a(class='waves-effect waves-light btn', id='saveUser') Save
          each users
            tr
              td
                span(id="{{_id}}-_id") {{_id}}
              td
                span(id="{{_id}}-email") {{emailAddress}}
              td
                span(id="{{_id}}-role") {{profile.role}}
              td
                a(class='waves-effect waves-light btn editbtn', name='{{_id}}') Edit
