template(name='Login')
  #loginWrapper
    h3 Login Stuff
    br
    input(type="text",id="email")
    input(type="password",id="password")
    a(class='waves-effect waves-light btn', id='loginUser') Login
