template(name='Individual')
  #home
    h3 Individual

    if shifts
      h5 Showing individual shifts for {{userId}}

      table
        thead
          tr
            th ID
            th Supervisor
            th Supervisor Contact
            th Location
            th Start
            th End
            th Info
        each shifts
          tbody
            tr
              td {{_id}}
              td {{info.supervisor}}
              td {{info.supervisorContact}}
              td {{info.location}}
              td {{formatDate info.start}}
              td {{formatDate info.end}}
              td {{info.info}}
