template(name='Footer')
  footer.page-footer.primaryColor
    div.footer-copyright
      div.container
        a(href='{{pathFor "imprint"}}' class='text') Imprint |
        a(href='{{pathFor "privacy"}}' class='text') Privacy |
        a(href='{{pathFor "terms"}}' class='text') Terms |
        span(class='text') © {{year}} Daniel Pesch | WHU |
        span(class='text' style="") Contact:
          a(href="mailto:F.Zitzelsberger@whu.edu" style="color: #dc4f49") Florian Zitzelsberger
        if currentUser
          a(id='logout' class='text' style='color:#dc4f49') | Logout
