template(name='Footer')
  footer.page-footer.primaryColor
    div.footer-copyright
      div.container
        a(href='{{pathFor "careers"}}' class='white-text') Careers |
        a(href='{{pathFor "imprint"}}' class='white-text') Imprint |
        a(href='{{pathFor "privacy"}}' class='white-text') Privacy |
        a(href='{{pathFor "terms"}}' class='white-text') Terms |
        | © {{year}} Daniel Pesch | WHU
