template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/nyc_main.jpg' style='height: 100%')

        ul.right
          if currentUser
            .nav-commands.center
          li
            input.validate(type='text', id="searchStudent")
            ul.collection
              each candidate
                li.collection-item(style='float:none;')
                  a(href="{{pathFor 'individual'}}")
                    {{first_name}} {{last_name}}
          li
            +atNavButton
