template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/shifttool_logo.png' style='height: 75%; margin-top: 10px;')

        ul.right
          if currentUser
            if currentUserIsAdmin
              .nav-commands.center
                li
                  a(href="{{pathFor 'home'}}", class="hvr-underline-from-left {{isSelected ''}}") Dashboard
                li
                  a(href="{{pathFor 'exchange'}}", class="hvr-underline-from-left {{isSelected 'exchange'}}") Exchange
                li
                  a(href="{{pathFor 'supervisor'}}", class="hvr-underline-from-left {{isSelected 'supervisor'}}") Supervisor
                li
                  a(href="{{pathFor 'shiftlist'}}", class="hvr-underline-from-left {{isSelected 'shiftlist'}}") Shiftlist
                li
                  a(href="{{pathFor 'assignments'}}", class="hvr-underline-from-left {{isSelected 'assignments'}}") Assignments
                li
                  a(href="{{pathFor 'students'}}", class="hvr-underline-from-left {{isSelected 'students'}}") Students
                li
                  a(href="{{pathFor 'users'}}", class="hvr-underline-from-left {{isSelected 'users'}}") User Rights
            else
              if currentUserIsSupervisor
                .nav-commands.center
                  a(href="{{pathFor 'supervisor'}}", class="hvr-underline-from-left") Supervisor
                  a(href="{{pathFor 'exchange'}}", class="hvr-underline-from-left") Exchange
              else
                .nav-commands.center
                  a(href="{{pathFor 'exchange'}}", class="hvr-underline-from-left") Exchange
            li
              input.validate(type='text', placeholder='Search a student',id="searchStudent")
              ul.collection
                each candidate
                  li.collection-item(style='float:none;')
                    a(href="{{pathFor 'individual'}}") {{first_name}} {{last_name}}
          else
            li
              a(class='waves-effect waves-light btn', id='login', href='{{pathFor "login"}}' style='margin-right:20px') Login
