template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/nyc_main.jpg' style='height: 100%')

        ul.right
          if currentUser
            .nav-commands.center
              a(href="{{pathFor 'home'}}")
                i.fa.fa-home.icon-large(style="color:white;")
              a(href="{{pathFor 'shiftlist'}}")
                i.fa.fa-list.icon-large(style="color:white;")
              a(href="{{pathFor 'assignments'}}")
                i.fa.fa-sitemap.icon-large(style="color:white;")
              a(href="{{pathFor 'students'}}")
                i.fa.fa-users.icon-large(style="color:white;")
          li
            input.validate(type='text', id="searchStudent")
            ul.collection
              each candidate
                li.collection-item(style='float:none;')
                  a(href="{{pathFor 'individual'}}") {{first_name}} {{last_name}}
          li
            i.fa.fa-search(style="color:white; display: inline; margin-left: 5px;")
            +atNavButton
