template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/nyc_main.jpg' style='height: 100%')

        ul.right
          if currentUser
            .nav-commands.center
              a(href='{{pathFor "profile"}}')
                i.fa.fa-user.icon-large
              a.modal-trigger(href='#survey-create-modal')
                i.fa.fa-plus.icon-large
              a(href='{{pathFor "earn.credits"}}')
                i.fa.fa-copyright.icon-large
            | {{initLeanModal}}
            input(style='color:black;')
          li
            +atNavButton

    // Survey create modal
    #survey-create-modal.modal
      .modal-content
        h4 Step 1: Create Your Survey
        a.waves-effect.waves-light.btn-large(href='{{pathFor "survey.add"}}') Create new survey
        a.waves-effect.waves-light.btn-large(href='#') Copy existing survey
