template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/nyc_main.jpg' style='height: 100%')

        ul.right
          if currentUser
            .nav-commands.center
              a(href="{{pathFor 'home'}}")
                i.fa.fa-home.icon-large(class="menubar-icons")
              a(href="{{pathFor 'shiftlist'}}")
                i.fa.fa-list.icon-large(class="menubar-icons")
              a(href="{{pathFor 'assignments'}}")
                i.fa.fa-sitemap.icon-large(class="menubar-icons")
              a(href="{{pathFor 'students'}}")
                i.fa.fa-users.icon-large(class="menubar-icons")
            li
              input.validate(type='text', id="searchStudent")
              i.fa.fa-search(style="display: inline; margin-left: 5px; margin-top: 10px;",class="accentColor")
              ul.collection
                each candidate
                  li.collection-item(style='float:none;')
                    a(href="{{pathFor 'individual'}}") {{first_name}} {{last_name}}
          li
            +atNavButton
