template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/nyc_main.jpg' style='height: 75%; margin-top: 10px;padding-left: 20px')

        ul.right
          if currentUser
            if currentUserIsAdmin
              .nav-commands.center
                a(href="{{pathFor 'home'}}") Dashboard
                a(href="{{pathFor 'shiftlist'}}") Shiftlist
                a(href="{{pathFor 'assignments'}}") Assignments
                a(href="{{pathFor 'students'}}") Students
            li
              input.validate(type='text', placeholder='Search a student',id="searchStudent", style='margin-right: 15px; color:green;')
              ul.collection
                each candidate
                  li.collection-item(style='float:none;')
                    a(href="{{pathFor 'individual'}}") {{first_name}} {{last_name}}
          else
            li
              a(class='waves-effect waves-light btn', id='login', href='{{pathFor "login"}}' style='margin-right:120px') Login
