template(name='Shiftlist')
  #shiftlist
    h3 Shiftlist
    if shifts
      h5 Showing global Shiftlist

      table
        thead
          tr
            th ID
            th Supervisor
            th Supervisor Contact
            th Location
            th Start
            th End
            th Info
            th # Students
            th Action
        tbody
            tr
              td
                a(class='waves-effect waves-light btn', id='addNewShift') Add new
                input(type="text",id="_id",style="display:none")
              td
                input(type="text",id="supervisor")
              td
                input(type="text",id="supervisorContact")
              td
                input(type="text",id="location")
              td
                input(type="text",id="start", placeholder="MM DD YYYY hh:mm")
              td
                input(type="text",id="end", placeholder="MM DD YYYY hh:mm")
              td
                input(type="text",id="info")
              td
                input(type="text",id="requiredAmountOfStudents")
          each shifts
            tr
              td
                span(id="{{_id}}-_id") {{_id}}
              td
                span(id="{{_id}}-supervisor") {{info.supervisor}}
              td
                span(id="{{_id}}-supervisorContact") {{info.supervisorContact}}
              td
                span(id="{{_id}}-location") {{info.location}}
              td
                span(id="{{_id}}-start") {{formatDate info.start}}
              td
                span(id="{{_id}}-end") {{formatDate info.end}}
              td
                span(id="{{_id}}-info") {{info.info}}
              td
                span(id="{{_id}}-requiredAmountOfStudents") {{info.requiredAmountOfStudents}}
              td
                a(class='waves-effect waves-light btn deletebtn', name='{{_id}}') Delete
                a(class='waves-effect waves-light btn editbtn', name='{{_id}}') Edit
