template(name='Profile')
  #home
    h4 Profile for {{first_name}} {{last_name}}
    br
    table
      thead
        tr
          td First name:
          td {{first_name}}
          td Last name:
          td {{last_name}}
        tr
          td Gender:
          td {{gender}}
          td Track:
          td {{track}}
        tr
          td Email:
          td {{email}}
          td Mobile phone:
          td {{mobile}}
        tr
          td Exemption status:
          td {{exemption_status}}
          td Workload:
          td {{workload}}

